*{
    font-family: 'Trebuchet MS';
}
header{
    position: fixed;
    width: 100%;
    height: 10%;
    padding: 1%;
    display: flex;
    background-color: rgb(62, 78, 78);
}
h1{
    margin: auto;
    font-weight: bold;
    color: white;
    text-align: center;
}
nav{
    position: fixed;
    top: 10%;
    width: 20%;
    height: 100%;
    background-color: #f2f2f2;
}
nav ul{
    list-style-type: none;
    padding: 0;
}
li a{
    display: block;
    text-decoration: none;
    color: black;
    font-size: large;
    padding: 5% 10%;
}
li a:first-child{
    background-color: rgb(29, 155, 155);
    color: white;
}
nav li a:hover:not(a:first-child){
    background-color: #555;
    color: white;
}
main{
    position: absolute;
    top: 10%;
    left: 20%;
    padding: 3%;
}
h2{
    font-size: 6em;
}
span{
    background: url("facebook.svg") no-repeat;
    padding-left: 40%;
    font-size: 3em;
}